<section class="login">
    <h2>Login</h2>
    <form action="/users/login" method="POST">
        <div>
            <label for="email">Email:</label>
            <input
                type="email"
                name="email"
                id="email"
                placeholder="Enter your email"
            />
        </div>
        <div>
            <label for="password">Password:</label>
            <input
                type="password"
                name="password"
                id="password"
                placeholder="Enter your password"
            />
        </div>
        <button type="submit">Login</button>
        <p>No Account? <a href="/users/register">Register</a></p>
    </form>
</section>
