<section class="welcome">
    <div>
        <div>
            <h2>
                Your Blog, Your Rules:<br />
                Let's Write the Future Together
                <!-- <i class="bx bxl-nodejs" style="color: #7ad253"></i> -->
            </h2>
            <p>Create an account or login</p>
            <div class="welcome-links">
                <a href="/users/register">Register</a>
                <a href="/users/login">Login</a>
            </div>
        </div>
    </div>
</section>
